<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Food Analytics</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <style>
    .row {
      margin-bottom: 10px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <button id="btn-consultar" class="btn btn-primary">Consultar</button>
    </div>
    <div class="row">
      <button id="btn-login" class="btn btn-primary">Login</button>
    </div>

    <div class="row">
      <div id="resultado">
      </div>
    </div>
  </div>

  <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.min.js"></script>

  <script>
  		const config = {
		  clientId: "algafood-web",
		  authorizeUrl: "http://127.0.0.1:8080/oauth2/authorize",
		  tokenUrl: "http://127.0.0.1:8080/oauth2/token",
		  callbackUrl: "http://127.0.0.1:8080/foodanalytics",
		  cozinhasUrl: "http://127.0.0.1:8080/v1/cozinhas"
		};

		let accessToken = "";

		function generateCodeVerifier() {
		  let codeVerifier = generateRandomString(128);
		  localStorage.setItem("codeVerifier", codeVerifier);

		  return codeVerifier;
		}

		function generateRandomString(length) {
		  let text = "";
		  let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
		  
		  for (let i = 0; i < length; i++) {
		    text += possible.charAt(Math.floor(Math.random() * possible.length));
		  }
		  
		  return text;
		}

		function generateCodeChallenge(codeVerifier) {
		  return base64URL(CryptoJS.SHA256(codeVerifier));
		}

		function getCodeVerifier() {
		  return localStorage.getItem("codeVerifier");
		}

		function base64URL(string) {
		  return string.toString(CryptoJS.enc.Base64).replace(/=/g, '').replace(/\+/g, '-').replace(/\//g, '_');
		}

		function consultar() {
		  alert("Consultando recurso com access token " + accessToken);

		  $.ajax({
		    url: config.cozinhasUrl,
		    type: "get",

		    beforeSend: function(request) {
		      request.setRequestHeader("Authorization", "Bearer " + accessToken);
		    },

		    success: function(response) {
		      var json = JSON.stringify(response);
		      $("#resultado").text(json);
		    },

		    error: function(error) {
		      alert("Erro ao consultar recurso");
		    }
		  });
		}

		function gerarAccessToken(code) {
		  alert("Gerando access token com code " + code);
		 
		  let codeVerifier = getCodeVerifier();

		  let params = new URLSearchParams();
		  params.append("grant_type", "authorization_code");
		  params.append("code", code);
		  params.append("redirect_uri", config.callbackUrl);
		  params.append("code_verifier", codeVerifier);

		  $.ajax({
		    url: config.tokenUrl,
		    type: "post",
		    beforeSend: function(request) {
		        request.setRequestHeader("Authorization", "Basic YWxnYWZvb2Qtd2ViOndlYjEyMw==");
		    },
		    data: params.toString(),
		    contentType: "application/x-www-form-urlencoded",

		    success: function(response) {
		      accessToken = response.access_token;

		      alert("Access token gerado: " + accessToken);
		    },

		    error: function(error) {
		      alert("Erro ao gerar access key");
		      console.log(error.responseText);
		      console.log(params.toString());
		    }
		  });
		}

		function login() {
		  let codeVerifier = generateCodeVerifier();
		  let codeChallenge = generateCodeChallenge(codeVerifier);

		  window.location.href = `${config.authorizeUrl}?response_type=code&client_id=${config.clientId}&redirect_uri=${config.callbackUrl}&code_challenge_method=S256&code_challenge=${codeChallenge}&state=abc&scope=READ WRITE`;
		}

		$(document).ready(function() {
		  let params = new URLSearchParams(window.location.search);

		  let code = params.get("code");

		  if (code) {
		    // window.history.replaceState(null, null, "/");
		    gerarAccessToken(code);
		  }
		});

		$("#btn-consultar").click(consultar);
		$("#btn-login").click(login);
  </script>
</body>
</html>